*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: Arial, Helvetica, sans-serif;
}
html,body{
          width: 100%;
          height: 100%;
          overflow-x: hidden;
}
.page1{
          width: 100vw;
          height: 130vh;
          background-color: red;
          background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          
}
.nav{
          width: 100vw;
          height: 12vh;
          background-color: black;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 5vw;
          color: white;
          cursor: pointer;
}
.right{
          width: 30vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.3vw;
}
.right h3 button{
          padding: 0.3vw 1.5vw;
          border-radius: 4vw;
          font-size: 1.2vw;
          background-color: blueviolet;
          color: white;
          border: none;
}
.right h3{
    font-size: 1.3vw;

}
h3 button:hover{
    background-color: white;
    color: black;
}
.right h3:hover{
    color: blueviolet;
    
}
.right h4:hover{
    color: lightslategray;
}
.right i{
          margin-right: 0.5vw;
          margin-left: 4vw;
}
.center{
          display: flex;

}
.matter{
          width: 50vw;
          height: 70vh;
          /* background-color: aqua; */
          margin-top: 8vh;
          margin-left: 6vw;
          color: white;
          /* line-height: 15vh; */

          
}
.matter h3{
          font-size: 2vw;
          padding-top: 25vh;
}
.matter h1{
          font-size: 6vw;
          /* font-weight: lighter; */
}
.matter p{
          font-size: 1.8vw;
}
.matter button{
          font-size: 1.2vw;
          padding: 1vw 3vw;
          border-radius: 4vw;
          background-color: blueviolet;
          color: white;
          border: none;
          margin-top: 4vh;
          box-shadow: 0.00px 1.00px 20px 2px rgb(130, 28, 219);;
          cursor: pointer;
          
          /* filter: blur(0.5px); */
          /* padding-top: 2vh; */
}
.matter button:hover{
    background-color: white;
    color: black;
}
.center .image{
          margin-top: 15vh;
}
.page2{
          width: 100vw;
          height: 150vh;
          background-color: rgb(22, 18, 18);
          display: flex;
          justify-content: space-between;
          position: relative;
}
.page2 .image1{
          width: 70vw;
          height: 145vh;
          /* background-color: blue; */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          /* border: 1px solid blue; */
}

.page2 .image1 img{
          width: 70vw;
          height: 145vh;
         /* position: relative; */
          
          
}
.page2 .layer{
          width:  70vw;
          height: 145vh;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.5);
}
.page2 .image1 .matter1{
          width: 50vw;
          height: 60vh;

          /* background-color: red; */
          position: absolute;
          z-index: 1;
          top: 25vmax;
          left: 10vh;
          color: rgb(245, 240, 240);
          
          
}
.page2 .image1 .matter1 h3{
          padding-left: 14vh;
          margin-top: -7vh;
          
}
.page2 .image1 .matter1 h1{
          font-size: 8vh;
          margin-top: 9vh;
}
.page2 .image1 .matter1 p{
          font-size: 3vh;
          margin-top: 5vh;
          line-height: 5vh;
}
.page2 .image1 .matter1 img{
          width: 5vw;
          height: 10vh;
}

.page2 .image2{
          width: 27vw;
          height: 145vh;
          background-color: rgb(24, 3, 31);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
}
.page2 .image2 img{
          width: 25vw;
          height: 75vh;
          margin-left: -10vh;
          margin-top: 42vh;

}

.page3{
          width: 100vw;
          height: 120vh;
          background-color: rgb(22, 18, 18);
          display: flex;
          justify-content: space-between;
          position: relative;
}
.page3 .image2{
          width: 27vw;
          height: 113vh;
          background-color: rgb(24, 3, 31);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 9999;
}
.page3 .image2 img{
          width: 32vw;
          height: 65vh;
          /* background-color: blue; */
          margin-left: 20vh;
          margin-top: 23vh;
          /* z-index: 9999999999; */

}
.page3 .image1{
          width: 70vw;
          height: 113vh;
          /* background-color: blue; */
          background-color: rgb(49, 42, 42);
}

.page3 .image1 .matter1{
          width: 50vw;
          height: 60vh;

          /* background-color: red; */
          position: absolute;
          /* z-index: 1; */
          top: 10vmax;
          right: 10vh;
          color: rgb(245, 240, 240);
          
          
}
.page3 .image1 .matter1 h3{
          padding-left: 14vh;
          margin-top: -7vh;
          
}
.page3 .image1 .matter1 h1{
          font-size: 8vh;
          margin-top: 9vh;
}
.page3 .image1 .matter1 p{
          font-size: 3vh;
          margin-top: 5vh;
          line-height: 5vh;
}
.page4{
        width: 100vw;
        height: 190vh;
        background-color: rgb(22, 18, 18);
        /* background-color: red; */
        border: 1px solid rgb(22, 18, 18);
}
.page4 .matter2{
    width: 60vw;
    height: 40vh;
    /* background-color: aqua; */
    margin-top: 20vh;
    margin-left: 20vw;
    color: white;
    
}
.page4 .matter2 img{
    padding-left: 25vw;
    
}
.page4 .matter2 h1{
    font-size: 4vw;
    margin-top: 4vh;
}
.page4 .matter2 p{
    font-size: 1.2vw;
    margin-top: 3vh;
    line-height: 4vh;
    text-align: center;
}
.page4 .image2{
    width: 80vw;
    height: 100vh;
    /* background-color: aqua; */
}
.page4 .image2 img{
    padding-left: 15vw;
}
.page4 button{
    margin-left: 42vw;
    margin-top: 10vh;
    padding: 2vh 5vw;
    font-size: 1.3vw;
    border-radius: 5vw;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    box-shadow: 0.00px 1.00px 20px 2px rgb(130, 28, 219);;
    color: white;
    cursor: pointer;
    /* filter: blur(5px 5px 5px blueviolet); */
    /* text-align: center; */
}
button:hover{
    background-color: white;
    color: black;
}
.page5{
    width: 100vw;
    height: 80vh;
    background-image: url(https://images.unsplash.com/photo-1667289508431-3b8dfc507ac3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    /* border: 10x solid black; */
    /* background-color: pink; */
}
.page5 .matter3{
    width: 60vw;
    height: 70vh;
    /* background-color: aqua; */
    /* margin-top: 5vh; */
    padding-left: 15vw;
    padding-top: 10vh;
    color: white;
}
.page5 .matter3 h3{
    padding-left: 7vw;
     margin-top: -7vh;
    
}
.page5 .matter3 h1{
    font-size: 4vw;
    /* padding-left: 7vw; */
    margin-top: 7vh;
}
.page5 .matter3 p{
    margin-top: 5vh;
    line-height: 4vh;
}
.page6{
    width: 100vw;
    height: 180vh;
    
    background-color: #02010a;
    position: relative;
    color: white;
}
.page6 .matter4{
    width: 100vw;
    height: 30vh;
    /* background-color: aqua; */
    text-align: center;
    color: white;
}
.page6 .matter4 h1{
    font-size: 3.5vw;
    padding-top: 12vh;
}
.page6 .center{
    width: 100vw;
    height: 180vh;
    /* background: linear-gradient(to left black,to right blue); */
    z-index: 999999;
    /* background-color: pink; */
    /* background: rgb(2,0,36); */
    /* background: rgb(2,0,36); */
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,2,75,1) 0%, rgba(7,3,22,1) 16%, rgba(149,14,182,1) 56%, rgba(3,14,17,1) 81%);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page6 .center .center-left{
    width: 28vw;
    height: 25vh;
    background-color: rgb(29, 29, 32);
    z-index: 99999;
    border-radius: 2vw;
    margin-left: 6vw;
    margin-top: -65vh;
    
}
.page6 .center .center-left img{
    margin-top: 2vh;
    padding-left: 2vw;
}
.page6 .center .center-left h3{
    padding-left: 6vw;
    margin-top: -6vh;
    font-size: 2vw;
}
.page6 .center .center-left p{
    /* padding-left: 5vw; */
    margin-top: 3vh;
    font-size: 1.3vw;
    line-height: 5vh;
    padding-left: 2.5vw;
}


.page6 .center .center-middil{
    width: 43vw;
    height: 138vh;
    /* background-color: blueviolet; */
    position: absolute;
    margin-left: 25vw;
}
.page6 .center .center-middil img{
    height: 145vh;
    margin-left: -5vw;
    margin-top: -5vh;
}
.page6 .center .center-right{
    width: 28vw;
    height: 25vh;
    /* background-color: blue; */
    background-color: rgb(29, 29, 32);
    /* margin-right: 20vw; */
    z-index: 999999;
    margin-right: 17vw;
    border-radius: 2vw;
    margin-top: -100vh;
}
.page6 .center .center-right img{
    margin-top: 2vh;
    padding-left: 0.5vw;
}
.page6 .center .center-right h3{
    padding-left: 4.5vw;
    margin-top: -6vh;
    font-size: 2vw;
}
.page6 .center .center-right p{
    /* padding-left: 5vw; */
    margin-top: 3vh;
    font-size: 1.3vw;
    line-height: 5vh;
    padding-left: 1.5vw;
}
.page6 .bot1{
    width: 28vw;
    height: 25vh;
    /* background-color: blue; */
    background-color: rgb(29, 29, 32);
    margin-top: -50vh;
    /* z-index: 9999; */
    z-index: 999999;
    margin-left: 10vw;
    border-radius: 2vw;
    position: absolute;
    /* margin-top: -65vh; */
}
.page6 .bot1 img{
    margin-top: 2vh;
    padding-left: 2vw;
}
.page6 .bot1 h3{
    padding-left: 6vw;
    margin-top: -6vh;
    font-size: 2vw;
}
.page6 .bot1 p{
    /* padding-left: 5vw; */
    margin-top: 3vh;
    font-size: 1.3vw;
    line-height: 5vh;
    padding-left: 2.5vw;
}
.page6 .bot2{
    width: 28vw;
    height: 25vh;
    /* background-color: blue; */
    background-color: rgb(29, 29, 32);
    margin-top: -60vh;
    /* z-index: 9999; */
    z-index: 999999;
    margin-left: 50vw;
    border-radius: 2vw;
    position: absolute;
    /* margin-top: -65vh; */
}

.page6 .bot2 img{
    margin-top: 2vh;
    padding-left: 2vw;
}
.page6 .bot2 h3{
    padding-left: 7vw;
    margin-top: -6vh;
    font-size: 2vw;
}
.page6 .bot2 p{
    /* padding-left: 5vw; */
    margin-top: 3vh;
    font-size: 1.3vw;
    line-height: 5vh;
    padding-left: 3vw;
}
.page6 .bot3 button{
    margin-left: 40vw;
    margin-top: -13vh;
    position: absolute;
    padding: 2vh 5vw;
    font-size: 1.3vw;
    border-radius: 5vw;
    background-color: rgb(47, 7, 83);
    /* border: 1px solid blueviolet; */
    border: none;
    box-shadow: 0.00px 1.00px 20px 2px rgb(29, 2, 53);;
    color: white;
}
.bot3 button:hover{
    background-color: white;
    color: black;
}
.page7{
    width: 100vw;
    height: 150vh;
    /* background-color: blue; */
    background-color: rgb(22, 18, 18);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 30vh;
}
.page7 .layer{
     width: 40vw;
     height: 140vh;
     position: absolute;
     background-color: rgba(0, 0, 0, 0.4);
}
.page7 .img1 img{
    width: 40vw;
    height: 140vh;
    background-position: bottom;
    /* background-size: contain; */
    /* background-color: aqua; */
    /* position: relative; */
}
.page7 .layer1{
    width: 40vw;
    height: 140vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}
.page7 .img2 img{
    width: 40vw;
    height: 140vh;
    /* background-color: aqua; */
    background-position: bottom;
}
.page7 .matter5{
    width: 28vw;
    height: 55vh;
    /* background-color: chartreuse; */
    text-align: center;
    margin-top: -135vh;
    color: white;
    margin-left: 5vw;
    position: absolute;
}
.page7 .matter5 img{
    width: 6vw;
    height: 12vh;
}
.page7 .matter5 h4{
    margin-top: 6vh;
    letter-spacing: 0.3vw;
}
.page7 .matter5 h1{
    margin-top: 5vh;
    font-size: 3vw;
    line-height: 9vh;
}
.page7 .matter6{
    width: 28vw;
    height: 55vh;
    /* background-color: chartreuse; */
    text-align: center;
    margin-top: -135vh;
    color: white;
    margin-left: 5vw;
    position: absolute;
}
.page7 .matter6 img{
    width: 6vw;
    height: 12vh;
}
.page7 .matter6 h4{
    margin-top: 6vh;
    letter-spacing: 0.3vw;
}
.page7 .matter6 h1{
    margin-top: 5vh;
    font-size: 3vw;
    line-height: 9vh;
}
.page8{
    width: 100vw;
    height: 270vh;
    /* background-color: coral; */
    background-color: rgb(22, 18, 18);
    border: 1px solid  rgb(22,18,18);
}
.page8 .top1{
    width: 70vw;
    height: 50vh;
    /* background-color: aqua; */
    text-align: center;
    margin-left: 15vw;
    margin-top: 9vh;
    color: white;
}
.page8 .top1 h3{
    letter-spacing: 0.3vw;
    margin-top: 5vh;
}
.page8 .top1 h1{
    margin-top: 5vh;
    font-size: 4vw;
}
.page8 .top1 button{
    /* margin-left: 40vw; */
    margin-top: 5vh;
    /* position: absolute; */
    padding: 2vh 5vw;
    font-size: 1.3vw;
    border-radius: 5vw;
    background-color: rgb(211, 31, 196);
    /* border: 1px solid blueviolet; */
    border: none;
    box-shadow: 0.00px 1.00px 20px 2px rgb(139, 10, 122);;
    color: white;
    cursor: pointer;
}
.top1 button:hover{
    background-color: white;
    color: black;
}
.page8 .top2{
    width: 70vw;
    height: 90vh;
    /* background-color: blue; */
    margin-left: 15vw;
}
.page8 .top3{
    width: 70vw;
    height: 80vh;
    /* background-color: yellow; */
    margin-left: 15vw;
    text-align: center;
}
.page8 .top3 h1{
    font-size: 4vw;
    color: white;
}
.page8 .top3 h3{
   margin-top: 8vh;
   margin-left: -54vw;
   color: white;
}
.page8 .top3 input{
    width: 65vw;
    height: 12vh;
    margin-top: 2vh;
    border-radius: 10vh;
    font-size: 1.5vw;
    padding-left: 3vw;
    border: none;
    box-shadow: 0.00px 1.00px 20px 2px rgb(194, 18, 170);;
    /* color: white; */
}
.page8 .top3 button{
    /* margin-top: 5vh; */
    /* position: absolute; */
    padding: 2.5vh 5vw;
    font-size: 1.3vw;
    border-radius: 5vw;
    background-color: rgb(194, 18, 170);
    /* border: 1px solid blueviolet; */
    border: none;
    box-shadow: 0.00px 1.00px 20px 2px rgb(194, 18, 170);;
    color: white;
    transform: translateY(-10vh);
    margin-left: 45vw;
    cursor: pointer;
    /* transform: translateX(10vw); */
}
.top3 button:hover{
    background-color: black;
}
.page8 .top4{
    width: 80vw;
    height: 40vh;
    /* background-color: purple; */
    margin-left: 10.5vw;
    color: white;
}
.page8 .top4 .mat1{
    width: 80vw;
    height: 10vh;
    /* background-color: red; */
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}
.page8 .top4 .mat2{
    width: 80vw;
    height: 10vh;
    /* background-color: blue; */
    /* display: flex; */
    /* justify-content: space-between; */
    
}
.page8 .top4 .mat2 h3{
    transform: translateY(3vh);
}
.page8 .top4 .mat2 h3 span{
    border-bottom: 1px solid white;
}
.page8 .top4 .mat2 img{
    transform: translateX(40vw);
    padding-left: 1.6vw;
}
